.rating {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  flex: 1;
  order: 2;
}

.star {
  font-size: 4.5rem;
  cursor: pointer;
}

.star.selected {
  color: #ffc107;
  
}

.star.unselected {
  color: #e4e5e9;
}

.rating-label {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .star {
    font-size: 3rem;
  }

  .rating {
    order: 1;
    max-width: 100%;
  }
}
