.share-print-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .dela-button, .skrivut-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dela-button:hover, .skrivut-button:hover {
    background-color: #45a049;
  }