.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem; 
    width: 100%; 
}

@media screen and (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1400px) {
    .card-container {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}